/* Start Global Rules */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--light-background-color, #ddd);
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
::selection {
  background-color: var(--light-background-color, #ddd);
  color: var(--main-color, #009688);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screen */
@media (min-width: 1200) {
  .container {
    width: 1200px;
  }
}
/* End Global Rules */
/* Start Variables */
html{
  --links-color: #2233ff;
  --main-color: #009688;
  --light-background-color: #ddd;
}
/* End Variables */
/*  Start User Data  */
.container form {
  margin: 100px auto 0;
  background-color: #ddd;
  font-weight: bold;
  font-size: 20px;
  padding: 32px;
}
@media (max-width: 767px) {
  .container form {
    padding: 0;
  }
}
.container form .data {
  background-color: #ccc;
  padding: 30px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 1px 12px 0px #0000009e;
  -moz-box-shadow: 0px 1px 12px 0px #0000009e;
  -ms-box-shadow: 0px 1px 12px 0px #0000009e;
  -o-box-shadow: 0px 1px 12px 0px #0000009e;
  box-shadow: 0px 1px 12px 0px #0000009e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .container form .data {
    padding: 15px;
  }
}
.container form .data div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
}
@media (max-width: 767px) {
  .container form .data div {
    flex-direction: column;
  }
}
.container form .data div input {
  border: black 2px solid;
  padding: 8px;
  outline: none;
  max-width: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.container form .data div input:focus{
  background-color: rgb(211, 204, 204);
}
.container form .data div input::placeholder {
  font-size: 14px;
}
.container form .data label {
  text-transform: capitalize;
  font-style: italic;
  position: relative;
}
@media (max-width: 767px) {
  .container form .data label {
    margin-bottom: 20px;
  }
}
.container form .data label span {
  color: red;
  position: absolute;
  top: -5px;
  left: -15px;
}
/*  Start User Data  */
/* Start Submit Section */
.container form .box {
  padding: 23px;
  width: fit-content;
  margin: 20px auto 10px;
  background-color: #dddddd;
  text-align: center;
}
.container form .box input {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 19px;
  background: #767676;
  color: white;
  padding: 15px 25px;
  width: fit-content;
  cursor: pointer;
  margin-bottom: 30px;
  text-align: center;
}
.container form .box input:hover {
  background: #767676d6;
}
.container form .box p {
  display: block;
  font-size: 20px;
  letter-spacing: -1px;
  word-spacing: 5px;
}
@media (max-width: 767px) {
  .container form .box p {
    font-size: 17px;
  }
}
.container form .box p a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--links-color, #2233ff);
}
@media (max-width: 767px) {
  .container form .box p span {
    display: block;
    line-height: 2;
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
  }
}
/* End Submit Section */
